# ThreadEndPoint - ESP32-C6 Joiner + LED control

# Target
CONFIG_IDF_TARGET="esp32c6"

# Partition
CONFIG_PARTITION_TABLE_SINGLE_APP=y

# mbedTLS (cần cho Joiner DTLS)
CONFIG_MBEDTLS_CMAC_C=y
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECJPAKE=y
CONFIG_MBEDTLS_ECJPAKE_C=y

# IEEE 802.15.4 (cần cho OpenThread native radio trên ESP32-C6)
CONFIG_IEEE802154_ENABLED=y
CONFIG_IEEE802154_RX_BUFFER_SIZE=20

# OpenThread - Endpoint (Joiner, không Border Router / Commissioner)
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_FTD=y
CONFIG_OPENTHREAD_BORDER_ROUTER=n
CONFIG_OPENTHREAD_RADIO_NATIVE=y
CONFIG_OPENTHREAD_TASK_SIZE=10240
# Bat 2 dong duoi neu muon dung OpenThread CLI tren UART (go lenh "ot ..."). Can goi ot_console_start() trong main.
# CONFIG_OPENTHREAD_CONSOLE_ENABLE=y
# CONFIG_OPENTHREAD_CLI=y
CONFIG_OPENTHREAD_CONSOLE_ENABLE=n
CONFIG_OPENTHREAD_CLI=n
CONFIG_OPENTHREAD_COMMISSIONER=n
CONFIG_OPENTHREAD_JOINER=y

# lwIP
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=4096
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8

# Console
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200

# Log
CONFIG_OPENTHREAD_LOG_LEVEL_DYNAMIC=n
CONFIG_OPENTHREAD_LOG_LEVEL_NONE=y
