:root {
  --app-main-padding: 24px;
  --app-page-max-width: 1200px;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;

  --form-page-max-width: 860px;

  --page-header-height: 70px;

  --sidebar-width: 260px;
}
