$app-main-padding: 24px;
$app-page-max-width: 1200px;

$page-header-height: 70px;

$sidebar-width: 260px;

:root {
  --app-main-padding: 24px;
  --app-page-max-width: 1200px;

  --page-header-height: 70px;

  --sidebar-width: 260px;
}
